<!--Style Binding -->
<div class="container">
  <h1>Hello</h1>

  <button (click)="onClick()">Add New Data</button>

  <div *ngIf=' objArray.length>0;then postList else noData'></div>
  <ng-template #postList>
      <li *ngFor="let post of objArray">
        {{post.postTitle}}: {{post.id}}
        <button (click)="onDelete(post)">Delete</button>
      </li>

  </ng-template>
  <ng-template #noData>
    <div>
      <p>There is no data to show</p>
    </div>
  </ng-template>
  <ng-template>Template message</ng-template>
</div>


<!--<div *ngIf='objArray.length>0;else  noData'>-->
<!--  <li *ngFor="let post of objArray">-->
<!--    {{post.postTitle}}: {{post.id}}-->
<!--    <button (click)="onDelete(post)">Delete</button>-->
<!--  </li>-->
<!--</div>-->
<!--<ng-template #noData>-->
<!--  <div>-->
<!--    <p>There is no data to show</p>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<h1 [class.text-red]="bool">Angular Component</h1>-->

<!--&lt;!&ndash;Event Binding &ndash;&gt;-->

<!--<button (click)="buttonClick()">Click me</button><br>-->
<!--<br>-->
<!--&lt;!&ndash;event filtering&ndash;&gt;-->
<!--<input type="text" (keyup.enter)="onKeyup(username.value)" #username>-->
<!--<br>-->
<!--<br>-->
<!--<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup2()">-->
<!--Property Binding -->
<!--<app-navbar></app-navbar>-->
<!--<app-post [fromParent]="parentMessage"-->
<!--          (messageEvent)='receiveMessage($event)'></app-post>-->
<!--<br>-->
<!--<p>{{fromChildOutput}}-->
<!--</p>-->


<!--<button (click)="setTrue()">Click to set TRUE</button>-->

<!--<br>-->
<!--<h1 [style.color]="bool? 'blue':'orange'">Style Binding </h1>-->


<!--event filtering-->
<!--<input type="text" (keyup.enter)="onKeyup(username.value)" #username>-->
<!--<br>-->
<!--<br>-->
<!--<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup2()">-->
